
.blkbtn, 
.yelbtn {
    font-size: 28px;
    font-family: Helvetica, "Time New Roman", sans-serif;
}



.blkbtn {
    background-color: black;
    color:#fff;
}

.yelbtn {
    background-color: rgb(245, 255, 47)
}

